{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          {% if user.is_authenticated %}
          <li>
            <a href="{%url 'logout'%}">Logout</a>
          </li>
          <li>
            <a href="{%url 'home'%}">Receipts</a>
          </li>
          <li>
            <a href="{%url 'receipt_create'%}">Create Receipt</a>
          </li>
          <li>
            <a href="{%url 'accounts_list'%}">Accounts</a>
          </li>
          <li>
            <a href="{%url 'create_account'%}">Create Account</a>
          </li>
          <li>
            <a href="{%url 'categories_list'%}">Categories</a>
          </li>
          <li>
            <a href="{%url 'create_categories'%}">Create Categories</a>
          </li>
          <li>
            <a href="{%url 'accounts_list'%}">Accounts</a>
          </li>
          {% else %}
          <li>
            <a href="{%url 'login'%}">Login</a>
          </li>
          <li>
            <a href="{%url 'signup'%}">Sign Up</a>
          </li>

          {% endif %}
        </ul>
      </nav>
    </header>
    <main>{% block content %} {% endblock content %}</main>
  </body>
</html>
